---
layout: default
---

<div class="container">
  <div class="columns is-centered">
    <div class="column is-four-fifths">

      {% for post in site.posts %}
      <article class="post">

        <h1 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <h2 class="subtitle"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.subtitle }}</a></h2>

        <div class="date has-text-right">
          Written on {{ post.date | date: "%B %e, %Y" }}
        </div>

      </article>

      {% if forloop.last == false %}
        <hr>
      {% endif %}

      {% endfor %}

    </div>
  </div>
</div>