<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ site.baseurl }}/">
        <strong class="is-nanum-brush">{{ site.site_name }}</strong>
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="{{ site.baseurl }}/" class="navbar-item is-nanum-pen">
          Blog
        </a>
        <a href="{{ site.baseurl }}/about" class="navbar-item is-nanum-pen">
          About
        </a>
        <a href="{{ site.baseurl }}/resume" class="navbar-item is-nanum-pen">
          Resume
        </a>
      </div>
    </div>
  </div>
</nav>
