<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.site_name }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml"/>
  <script src="https://kit.fontawesome.com/d59ca159ff.js" crossorigin="anonymous"></script>

  <!-- Favicon Files -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/images/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
  <meta name="msapplication-config" content="{{ site.baseurl }}/images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <script src="https://unpkg.com/mailgo@0.11.3/dist/mailgo.min.js" defer></script>
</head>

<body class="has-navbar-fixed-top">
  {% include navbar.html %}

  {{ content }}

  <footer class="footer has-text-centered py-6 mb-6">
    {% include footer.html %}
  </footer>

  {% include analytics.html %}
</body>

</html>
