---
layout: default
---

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{{ page.title }}</h1>
      <h2 class="subtitle"> {{ page.subtitle }}</h2>
    </div>
  </div>
</section>
<article class="post is-light">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-four-fifths">
        <div class="content">
          {{ content }}
        </div>

        <div class="date">
          Written on {{ page.date | date: "%B %e, %Y" }}
        </div>

        <div class="comment">
          {% include utterances.html %}
        </div>
      </div>
    </div>

  </div>
</article>